
.landing-page-container {
    background: linear-gradient(to right, #2c3e50, #3498db);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .landing-content {
    text-align: center;
    color: #ecf0f1;
    animation: fadeInUp 1s ease-in-out, parallax 8s infinite linear;
  }
  
  
  .landing-title {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif; 
    color: #ecf0f1;
    animation: scaleIn 1s ease-in-out;
  }
  
  @keyframes scaleIn {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  
  .landing-description {
    font-size: 1.8em;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #bdc3c7;
  }
  
  .landing-cta-buttons {
    display: flex;
    justify-content: center;
  }
  
  .landing-btn {
    margin: 10px;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ecf0f1;
    color: #3498db;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  
  .landing-btn:hover {
    background-color: #3498db;
    color: #ecf0f1;
    transform: scale(1.05);
  }
  